
#main{
    width: 924px;
    height: 768px;
    opacity: 1;
    margin: 0 auto;
    border-width: 1px;
    padding: 0;
    overflow: visible;
    position: relative;

}

#screen{
    width: 745px;
    height: 62px;
    left: 90px;
    top: 76px;
    opacity: 1;
    margin: 0;
    padding: 0 10px;
    border: 1px solid rgba(13, 7, 13, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    background: rgba(247, 247, 247, 1);
    font-size: 19px;
    color: #515151;
    line-height: 62px;

}

#calcImg{
    width: 318px;
    height: 318px;
    right: 75px;
    bottom: 100px;
    opacity: 1;
    margin: 0;
    border-width: 1px;
    overflow: hidden;
    line-height: 263px;
    font-size: 261px;
    font-style: normal;
    text-align: center;
    color: rgba(247, 247, 247, 1);
}

#btn0{
    height: 130px;
    float: right;
    margin-top: 30px;
    padding-top: 65px;
}

#bublina{
    left: 552px;
    top: 216px;
    padding: 10px;
    min-width: 100px;
    max-width: 300px;
    max-height: 200px;

}

#bublina, #help{
    font-size: 26px;
    font-style: normal;
    text-align: center;
    color: #515151;
    background-color: rgba(247, 247, 247, 1);
    border: 4px solid #515151;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #444444;
    box-shadow: 2px 2px 4px #444444;
    overflow: scroll;
}

#bublina1{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 674px;
    top: 326px;
    border: 12px solid;
    border-color: #515151 transparent transparent #515151;
}

#bublina2{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 678px;
    top: 326px;
    border: 7px solid;
    border-color: rgba(247, 247, 247, 1) transparent transparent rgba(247, 247, 247, 1);
}