/**
 * @file maine.css
 * @author Filip Leo Klembara
 * @author Lucia Ter Tušimová
 */

body * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    /*-webkit-box-sizing: border-box;*/
    /*-webkit-transition: all 1s;*/
}
body{
    background-color: rgba(37, 40, 69, 1);
    width: 100%;
    height:100%;
}


.btn{
    width: 50px;
    height: 50px;
    padding: 24px 0;
    margin-left: 43px;
}

.btn, .shortCut{
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    background: rgba(247, 247, 247, 1);
    font-size: 26px;
    font-weight: bold;
    color: #515151;
    line-height: 0;
}
.btn:first-of-type{
    margin: 0;
}

#operation{
    text-align: center;
    width: 25px;
}

#output{
    max-width: 700px;
    max-height: 62px;
    text-align: right;
    position: relative;
    float: right;
}

#btns{
    top: 216px;
    left: 115px;
}

.myRow{
    position: relative;
    margin-top: 30px;
}
.myRow:first-of-type{
    margin:0;
}

#help{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 10px;
    left: 10px;
    width: 600px;
    max-height: 730px;
    display: block;
    overflow-x: hidden;


}

#closeHelp{
    position: absolute;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border: 2px solid #515151;
    border-radius: 50px;
    top: 2px;
    left: 520px;
    color: rgba(247, 247, 247, 1);
    background-color: #515151;
}

#closeHelp:hover{
    cursor: pointer;
}

#help h1{
    position: relative;
}

#help h2{
    /*position: relative;*/
    position: relative;
    /*margin-top: 30px;*/
}

#help ul{
    text-align: left;
    width: 100%;
    padding: 0;
    position: relative;
}

#help ul li{
    display: block;
    /*display: ;*/
    padding: 10px;
    margin-top: 15px;
    position: relative;
}

#help img{
    border: 1px solid #515151;
    position: relative;
    float: left;
    height: 36px;
    width: 36px;
}

#help div{
    position: relative;

}

#help p{
    display: block;
    max-width: 70%;
    margin-left: 70px;
}

.shortCut{
    /*margin-right: 20px;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
    /*float: left;*/
    display: inline-block;
    height: 36px;
    text-align: center;
    padding: 15px 0 19px 0;
    width: 36px;
}

#calc{
    width: 400px;
    height: 800px;
    top: 0;
    left: 0;

}

.blahblah{
    /*margin-top: 20px;*/
    /*display: inline-block;*/
    /*font-size: 1.1em;*/
    /*text-align: center;*/
}

.blahblah:not(.active):not(.oneLine):after{
    content: 'more';
    margin-left: 10px;
    color: #2A6496;
    font-size: 0.5em;
}

.blahblah:not(.oneLine).active:after{
    content: "less";
    margin-left: 10px;
    color: #2A6496;
    font-size: 0.5em;
}

.blahblahblah{
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
}

.popUp{
    text-align: center;
    display: none;
}

.helpNadpis{
    display: inline-block;
    margin-left: 10px;
}