
#main{
    width: 924px;
    height: 768px;
    opacity: 1;
    margin: 0 auto;
    border-width: 1px;
    padding: 0;
    overflow: visible;
    position: relative;

}

#output{
    width: 745px;
    height: 62px;
    left:90px;
    top: 76px;
    opacity: 1;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(13, 7, 13, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    background: rgba(247, 247, 247, 1);
    font-size: 19px;
    color: #515151;
    line-height: 62px;

}

#_3{
    width: 318px;
    height: 263px;
    left: 490px;
    top: 383px;
    opacity: 1;
    margin: 0;
    border-width: 1px;
    overflow: hidden;
    line-height: 263px;
    font-size: 261px;
    font-style: normal;
    text-align: center;
    color: rgba(247, 247, 247, 1);

}

#btnDiv{

}

#btnMul{
}

#btnAdd{
}

#btnSub{
}

#btnComma{
}

#btnSign{

}

#btnCA{
}

#btnSolve{
}

#btnHelp{


}

#btnPower{


}

#btnLog{

}

#btnDel{
}

#btn3{


}

#btn2{

}

#btn1{
}

#btn0{
    height: 130px;
    float: right;
    margin-top: 30px;
    padding-top: 65px;
}

#btn9{
}

#btn8{

}

#btn7{
}

#btn6{

}

#btn5{

}

#btn4{

}

#_26{
    width: 256px;
    height: 153px;
    left: 552px;
    top: 216px;
    opacity: 1;
    margin: 0;
    border-width: 1px;
    overflow: hidden;
    line-height: 153px;
    font-size: 151px;
    font-style: normal;
    text-align: center;
    color: rgba(247, 247, 247, 1);

}